# 1. Ignore EVERYTHING in this directory by default
/*

# 2. Allowlist the specific folders you want to track
!accelerometer/
!barometer/
!barometer_fifo/
!button_led_buzzer/
!display/
!final_project/
!final_project_tests/
!gnss/
!lte_pcb/
!memory/
!new_data_logger/
!power/
!server_com/
!test_model/
!wifi/

!run_tests.txt
!logging.py

# 3. Allowlist this .gitignore file so it gets pushed to GitHub
!.gitignore

# 4. CRITICAL: Ignore all Zephyr build artifacts inside your allowed folders
accelerometer/build
barometer/build
barometer_fifo/build
button_led_buzzer/build
display/build
final_project/build
final_project_tests/build
final_project_tests/assisted_gnss_test
final_project_tests/gnss_fix_power
final_project_tests/detector_accuracy
final_project_tests/detector_power
final_project_tests/data_collection
gnss/build
lte_pcb/build
memory/build
new_data_logger/build
power/build
server_com/build
test_model/build
test_model/edge-impulse-sdk/
test_model/model-parameters/
test_model/tflite-model/
wifi/build
