# 1. Ignore EVERYTHING in this directory by default
/*

# 2. Allowlist the specific folders you want to track
!adxl367/
!bme688/
!bmi270/
!npm1300/
!scan/
!server_com/
!bracelet/
!barometer/
!accelerometer/
!wifi/
!button_led_buzzer/
!display/
!final_project/
!memory/
!lte_pcb/
!test/
!test_model/
!fall_detection_logger/
!accelerometer_interrupt/
!barometer_fifo/

# 3. Allowlist this .gitignore file so it gets pushed to GitHub
!.gitignore

# 4. CRITICAL: Ignore all Zephyr build artifacts inside your allowed folders
adxl367/build/
bme688/build/
bmi270/build/
npm1300/build/
scan/build/
bracelet/build/
barometer/build/
accelerometer/build/
wifi/build/
button_led_buzzer/build/
display/build/
final_project/build/
memory/build/
memory/build_1/
lte_pcb/build
test/build/
test_model/build/
test_model/edge-impulse-sdk/
test_model/model-parameters/
test_model/tflite-model/
fall_detection_logger/build/
accelerometer_interrupt/build/
barometer_fifo/build/

# Ignore the contents of the build directory except the dfu_application.zip
server_com/build/*
!server_com/build/dfu_application.zip

# Ignore TODO
todo.txt