#include <zephyr/dt-bindings/regulator/npm13xx.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

&pinctrl {
    /* --- UART0 --- */
    uart0_default: uart0_default {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 0)>,
                    <NRF_PSEL(UART_RX, 0, 1)>;
        };
    };
    uart0_sleep: uart0_sleep {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 0)>,
                    <NRF_PSEL(UART_RX, 0, 1)>;
            low-power-enable;
        };
    };

    i2c2_default: i2c2_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
        };
    };
    i2c2_sleep: i2c2_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
            low-power-enable;
        };
    };

    /* --- SPI3 --- */
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 14)>,
                    <NRF_PSEL(SPIM_MISO, 0, 15)>;
            /* ADD THESE TWO LINES: */
            nordic,drive-mode = <NRF_DRIVE_H0H1>;
            bias-pull-up;
        };
    };
    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 14)>,
                    <NRF_PSEL(SPIM_MISO, 0, 15)>;
            low-power-enable;
        };
    };

    /* --- PWM0 --- */
    pwm0_default: pwm0_default {
        group1 {
            /* RED=P0.28, GREEN=P0.29, BLUE=P0.30, BUZZER=P0.31 */
            psels = <NRF_PSEL(PWM_OUT0, 0, 28)>,
                    <NRF_PSEL(PWM_OUT1, 0, 29)>,
                    <NRF_PSEL(PWM_OUT2, 0, 30)>,
                    <NRF_PSEL(PWM_OUT3, 0, 31)>;
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 28)>,
                    <NRF_PSEL(PWM_OUT1, 0, 29)>,
                    <NRF_PSEL(PWM_OUT2, 0, 30)>,
                    <NRF_PSEL(PWM_OUT3, 0, 31)>;
            low-power-enable;
        };
    };
};


&i2c2 {
    status = "okay";
    pinctrl-0 = <&i2c2_default>;
    pinctrl-1 = <&i2c2_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>;

    /* Allocate RAM buffer for the BMI270 8KB config bursts */
    zephyr,concat-buf-size = <2048>;
    zephyr,flash-buf-max-size = <2048>;

    npm1300: pmic@6b {
        compatible = "nordic,npm1300";
        reg = <0x6b>;
        status = "okay"; /* Enable the PMIC parent */

        npm1300_regulators: regulators {
            compatible = "nordic,npm1300-regulator";
            status = "okay"; /* Enable the regulator subsystem */
        };

        npm1300_charger: charger {
            compatible = "nordic,npm1300-charger";
            status = "okay";
            /* Increase USB input current limit to 500mA to prevent boot brownouts */
            vbus-limit-microamp = <1000000>;
            term-microvolt = <4200000>;
            current-microamp = <150000>;
            dischg-limit-microamp = <1000000>;
            thermistor-ohms = <10000>;
            thermistor-beta = <3435>;

            charging-enable;
        };

    };


    /* Bosch BMI270 IMU */
    bmi270: bmi270@68 {
        compatible = "bosch,bmi270";
        reg = <0x68>;
        irq-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    /* TDK Barometer */
    icp20100: icp20100@63 {
        compatible = "invensense,icp201xx";
        reg = <0x63>;
        int-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    };

};

&npm1300_regulators {
    npm1300_ldo1: LDO1 {
        status = "okay";
        /* Fixed: Lowered to 1.8V to match nRF9151 GPIO logic levels */
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-initial-mode = <NPM13XX_LDSW_MODE_LDSW>;
        active-discharge;
        regulator-boot-on;
        regulator-always-on;
    };

        npm1300_ldo2: LDO2 {
        /* Set the voltage to 1.8V */
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-init-microvolt = <1800000>;        /* Force early power-on during boot */
        regulator-initial-mode = <NPM13XX_LDSW_MODE_LDSW>;
        active-discharge;
        regulator-boot-on;
        regulator-always-on;
    };
};


&spi3 {
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    /* CS0 = nRF7002 (P0.12), CS1 = W25Q64JW flash (P0.10) */
    cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>,
               <&gpio0 10 GPIO_ACTIVE_LOW>;

	nrf70: nrf7002@0 {
        compatible = "nordic,nrf7002-spi";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <DT_FREQ_M(8)>;
        iovdd-power-up-delay-ms = <100>;

        bucken-gpios    = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        iovdd-ctrl-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
        iovdd-regulator = <&npm1300_ldo1>;
        host-irq-gpios  = <&gpio0 16 GPIO_ACTIVE_HIGH>;

        nordic_wlan0: wlan0 {
            compatible = "nordic,wlan";
            local-mac-address = [F6 CE 36 00 00 01];
        };

        /* TX power properties - REDUCED FOR BATTERY */
        wifi-max-tx-pwr-2g-dsss = <10>;         // Was 21 → Now 10 dBm
        wifi-max-tx-pwr-2g-mcs0 = <8>;          // Was 16 → Now 8 dBm
        wifi-max-tx-pwr-2g-mcs7 = <8>;          // Was 16 → Now 8 dBm
        wifi-max-tx-pwr-5g-low-mcs0 = <6>;      // Was 9 → Now 6 dBm
        wifi-max-tx-pwr-5g-low-mcs7 = <6>;      // Was 9 → Now 6 dBm
        wifi-max-tx-pwr-5g-mid-mcs0 = <8>;      // Was 11 → Now 8 dBm
        wifi-max-tx-pwr-5g-mid-mcs7 = <8>;      // Was 11 → Now 8 dBm
        wifi-max-tx-pwr-5g-high-mcs0 = <10>;    // Was 13 → Now 10 dBm
        wifi-max-tx-pwr-5g-high-mcs7 = <10>;    // Was 13 → Now 10 dBm
    };

    w25q64jw: w25q64jw@1 {
        compatible = "jedec,spi-nor";
        status = "okay";
        reg = <1>;
        spi-max-frequency = <DT_FREQ_M(8)>;
        jedec-id = [ef 60 17];
        size = <0x4000000>;
        /* Deep power-down support -- enable later for battery savings
         * in the final project (datasheet tDP/tRES1, values in ns):
         * has-dpd;
         * t-enter-dpd = <3000>;
         * t-exit-dpd = <30000>;
         */
    };
};


/ {
    aliases {
        sw0 = &button_em;
        buzzer = &pwm_buzzer;
        led0 = &led_red;
        led1 = &led_green;
        led2 = &led_blue;
    };

    buttons {
        compatible = "gpio-keys";
        button_em: button_0 {
            gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Emergency Button";
        };
    };

    /* Buzzer PWM routing */
    pwm_buzzer: pwm_buzzer {
        compatible = "pwm-beeper";
        pwms = <&pwm0 3 PWM_HZ(4000) PWM_POLARITY_NORMAL>;
    };

    pwmleds {
        compatible = "pwm-leds";
        led_red: led_pwm_0 {
            pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "Red LED";
        };
        led_green: led_pwm_1 {
            pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "Green LED";
        };
        led_blue: led_pwm_2 {
            pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "Blue LED";
        };
    };

	chosen {
		zephyr,wifi = &nordic_wlan0;
        ncs,location-wifi = &nordic_wlan0;
	};
};

/* Enable UART0 */
&uart0 {
    status = "okay";
    pinctrl-0 = <&uart0_default>;
    pinctrl-1 = <&uart0_sleep>;
    pinctrl-names = "default", "sleep";
    current-speed = <115200>;
};

/* Enable PWM0 */
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

