&pinctrl {
    /* UART0: TX=P0.00, RX=P0.01 */
    uart0_default: uart0_default {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 0)>,
                    <NRF_PSEL(UART_RX, 0, 1)>;
        };
    };

    /* I2C: SCL=P0.08, SDA=P0.09 */
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
        };
    };

    /* SPI: SCK=P0.13, MOSI=P0.14, MISO=P0.15 */
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 14)>,
                    <NRF_PSEL(SPIM_MISO, 0, 15)>;
        };
    };

    /* PWM for RGB LED & Buzzer */
    pwm0_default: pwm0_default {
        group1 {
            /* RED=P0.28, GREEN=P0.29, BLUE=P0.30, BUZZER=P0.31 */
            psels = <NRF_PSEL(PWM_OUT0, 0, 28)>,
                    <NRF_PSEL(PWM_OUT1, 0, 29)>,
                    <NRF_PSEL(PWM_OUT2, 0, 30)>,
                    <NRF_PSEL(PWM_OUT3, 0, 31)>;
        };
    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;

    /* nPM1300 PMIC */
    npm1300: pmic@6b {
        compatible = "nordic,npm1300";
        reg = <0x6b>;
        
        /* MCU P0.18 is wired to PMIC GPIO0. This acts as the Host Interrupt */
        host-int-gpios = <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        
        npm1300_regulators: regulators {
            compatible = "nordic,npm1300-regulator";
            
            /* LSOUT1 (Pin 29) powers the Wi-Fi Enable */
            npm1300_ldo1: LDO1 {
                regulator-name = "nRF7002_ENABLE";
            };
            
            /* LSOUT2 (Pin 31) powers the BMI270 IMU */
            npm1300_ldo2: LDO2 {
                regulator-name = "VIN_BMI270";
            };
        };
    };

    /* Bosch BMI270 IMU */
    bmi270: bmi270@68 {
        compatible = "bosch,bmi270";
        reg = <0x68>;
        int1-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>; 
    };

    /* TDK Barometer */
    icp20100: icp20100@63 {
        compatible = "invensense,icp20100";
        reg = <0x63>; 
        int-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    };

    /* OLED Display */
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>; 
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        reset-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>; 
    };
};

&spi3 {
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-names = "default";
    
    cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>,
               <&gpio0 12 GPIO_ACTIVE_LOW>;

    /* NOR Flash (32Mb) */
    mx25u32: flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0>; 
        spi-max-frequency = <8000000>;
        size = <33554432>;
        jedec-id = [c2 25 36];
    };
    
    /* Wi-Fi Companion (nRF7002) */
    nrf7002: wifi@1 {
        compatible = "nordic,nrf7002-spi";
        reg = <1>; 
        /* bucken-gpios removed: Wi-Fi enable is handled by PMIC LDO1 */
        irq-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
        spi-max-frequency = <8000000>;
    };
};

/ {
    aliases {
        sw0 = &button_em;
        buzzer = &pwm_buzzer;
        led0 = &led_red;
        led1 = &led_green;
        led2 = &led_blue;
        pmic-gpio1 = &mcu_to_pmic_gpio1;
    };

    buttons {
        compatible = "gpio-keys";
        button_em: button_0 {
            gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Emergency Button";
        };
    };

    /* Custom Routing */
    custom_gpios {
        compatible = "gpio-leds"; 
        
        /* MCU P0.19 wired to PMIC GPIO1 */
        mcu_to_pmic_gpio1: mcu_to_pmic_gpio1 {
            gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
            label = "MCU to PMIC GPIO1";
        };
    };

    /* Display Power Control Pin */
    display_ctrl {
        compatible = "gpio-leds"; 
        disp_power_en: disp_power_en {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>; 
            label = "OLED Power Enable";
        };
    };

    /* Buzzer PWM routing */
    pwm_buzzer: pwm_buzzer {
        compatible = "pwm-beeper";
        pwms = <&pwm0 3 PWM_HZ(4000) PWM_POLARITY_NORMAL>; 
    };

    pwmleds {
        compatible = "pwm-leds";
        led_red: led_pwm_0 {
            pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "Red LED";
        };
        led_green: led_pwm_1 {
            pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "Green LED";
        };
        led_blue: led_pwm_2 {
            pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "Blue LED";
        };
    };
};

/* Enable UART0 */
&uart0 {
    status = "okay";
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
    current-speed = <115200>;
};

/* Enable PWM0 */
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-names = "default";
};