source "Kconfig.zephyr"

menu "Communication with MQTT broker"

config MQTT_BROKER_HOSTNAME
    string "MQTT broker Azure Server"
    default "20.251.201.46"
    help
      WARNING: Avoid static IPs for production. Use a domain name.

config MQTT_BOOTSTRAP_SECURITY_CODE
    string "Bootstrap security code"
    default "987654"
    help
      The security code sent in the first MQTT message after boot.
      The server uses this to register the bracelet in its database.
      The mobile app user must enter this exact code when pairing.

endmenu